* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
:root {
	--extralarge-fs: 9rem; /*144px; */
	--semiextralarge-fs: 4.375rem; /*70px;  */
	--large-fs: 3rem /*48px*/;
	--medium-fs: 1.5rem; /*24px*/
	--semi-medium-fs: 1.125rem; /*18px*/
	--default-fs: 1rem; /*16px*/
	--dark-color: #181b1b;

	--spacing-1: 1%;
	--spacing-2: 2%;
	--spacing-3: 3%;
	--spacing-5: 5%;
	--spacing-8: 8%;
	--spacing-10: 10%;
	--spacing-20: 20%;
	--spacing-25: 25%;
	--spacing-130: 130%;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	list-style: none;
	background-color: var(--dark-color);
}
