* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

ul {
	list-style: none;
}

.header {
	background-color: #181b1b;
	padding: 1rem 0;
	width: 100%;
	position: fixed;
	z-index: 999;

	//utiltity class
	.display-none {
		display: none;
	}

	.logo {
		font-weight: 900;
	}

	.nav-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 8rem;

		@media (max-width: 1400px) {
			padding: 0 2rem;
		}

		@media (max-width: 780px) {
			padding: 0 1.5rem;
		}
		a {
			text-decoration: none;
			color: #ffffff;
			font-size: 18px;
		}

		.top-icons {
			display: flex;

			a {
				padding: 0 10px;
			}
		}

		//DESKTOP NAVIGATION STYLES

		.desktop-nav {
			display: none;

			.desktop-navItems {
				display: flex;
				.desktop-navLink {
					color: #ffffff;
					padding: 0 10px;
					font-size: 1.2rem;
					text-transform: uppercase;
					cursor: pointer;
					font-family: "Crimson Text";
					-webkit-transition: all 1000ms ease;
					transition: all 1000ms ease;

					&:hover {
						color: #cf3259;
					}
				}
			}

			@media (min-width: 800px) {
				display: block;
			}
		}

		button {
			display: none;
			background-color: transparent;
			color: #ffffff;
			font-weight: 600;
			border: none;

			@media (min-width: 800px) {
				display: none;
			}

			@media (max-width: 799px) {
				display: block;
			}
		}
	}

	//MOBILE NAVIGATION STYLES

	.mobile-nav {
		.display-mobile-nav {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 13%;
			height: 100vh;

			li {
				padding: 2rem 0;
				cursor: pointer;
				.mobile-navLink {
					font-size: 30px;
					color: #ffffff;
					text-decoration: none;
					font-family: Helvetica, sans-serif;
					cursor: pointer;

					&:hover {
						color: #cf3259;
					}
				}
			}
		}
	}
}
